# compiled code
*.pyc

# swap files
*.swp
*.swo
*~
*#

# apple cruft
.DS_Store

# py.test artifacts
__pycache__

# log files
*.log

# build files
target
dist/
*.egg-info/
build/
MANIFEST

.tox/

# Data
rnn_prof/data/skill_builder_*

# Pycharm files
rnn_prof/.idea
