# compiled code
*.pyc

# swap files
*.swp
*.swo
*~
*#

# apple cruft
.DS_Store

# py.test artifacts
__pycache__

# log files
*.log

# build files
target
dist/
*.egg-info/
build/
MANIFEST

.tox/

# Data
rnn_prof/data/rnn_result
rnn_prof/data/bridge_to_algebra*
rnn_prof/data/skill_builder_*
rnn_prof/data/by_skill/
rnn_prof/data/id_difficulty_map*
rnn_prof/data/id_skill_map*
rnn_prof/data/*.pickle
by_skill*
filtered_dataframe*

# Temporary files
tmp*

# Bash scripts for experiments
*assistments.sh

# Output
output*

# Pycharm files
.idea/*
rnn_prof/.idea/*
